
<h1>Editing Pkmn</h1>

<%= render 'form', pkmn: @pkmn %>

<%= link_to raw('Zur&uuml;ck'), pkmns_path, class: "btn btn-danger"%>

<%= link_to 'Destroy', pkmn, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to raw('Daten anzeigen'), @pkmn, class: "btn btn-warning"%>
