
<h1>Editing Client</h1>

<%= render 'form', client: @client %>

<%= link_to raw('Zur&uuml;ck'), clients_path, class: "btn btn-link"%>

<%= link_to 'Destroy', client_path(@client), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" %>

<%= link_to raw('Daten anzeigen'), @client, class: "btn btn-info" %> 
