<p id="notice"><%= notice %></p>
<div class="container">
<h1 class= "rowlink" data-path="<%=new_client_path %>" id="addNewClient">Clients</h1>

<div class="table-container">
  <%= render 'table' %>
</div>
<br>


</div>
<script type="text/javascript">
  $("#addNewClient").on('mouseover', function(e) {
    $(this).html("Add new Client").toggleClass('text-success', true)
  }).on('mouseleave', function(e) {
    $(this).html("Clients").toggleClass('text-success', false)
  })
</script>


