
<div class= container >
	<div class="MyApp">
		<h1>Welcome to MyApp</h1>
	</div>	
	<br>
	<div class="welcome">
	<br>
	<h2 class= "rowlink" data-path="<%=cars_path %>">Fahrzeuge </h2>
	<%= image_tag("cars.jpg", :alt => "cars") %>
	<br>



	<br>
	<h2 class= "rowlink" data-path="<%=clients_path %>">Kunden </h2>
	<%= image_tag("kunden1.jpg", :alt => "kunden1") %>
	</div>
</div>