.lady {
	font-family: verdana, sans-serif;
	color: #f0f;
}

.mister{
	font-family: 'arial black', sans-serif;
	color: #03c;
}

.rowlink {
	cursor: pointer;
}

/* table */

.table-container {
	width: 100%;
	min-height: 500px;
	max-height: 800px;
	overflow-y: scroll;
}

/* ------/table */


/* Form error*/




.form-group-has-error .form-control,
.form-group-has-error label,
.form-group-has-error .input-group-addon {
		color: #c00;
}


.form-group-has-error .form-control,
.form-group-has-error .input-group-addon {
	border-color: #c00;
}



.error {
	color: #c00;
}


/* ------/Form Error */