.lady {
	font-family: verdana, sans-serif;
	color: #f0f;
}

.mister{
	font-family: 'arial black', sans-serif;
	color: #03c;
}

.rowlink {
	cursor: pointer;
}
.form-group-has-error .form-control,
.form-group-has-error label {
		color: #c00;
}


.form-group-has-error .form-control {
	border-color: #c00;
}

.table-container {
	width: 100%;
	min-height: 500px;
	max-height: 800px;
	overflow-y: scroll;
}

.error {
	color: #c00;
}

.input-group-addon {
	color: #c00
}

.div input-group-addon {
	color: #c00
}