
<h1>Editing Car</h1>

<%= render 'form', car: @car %>

<%= link_to raw('Zur&uuml;ck'), cars_path, class: "btn btn-danger"%>

<%= link_to 'Startseite', "http://localhost:3000/", class: "btn btn-primary"%>

<%= link_to raw('Daten anzeigen'), @car, class: "btn btn-warning"%>