<p id="notice"><%= notice %></p>
<div class="container">
<h1 class= "rowlink" data-path="<%=new_car_path %>" id="addNewCar">Cars</h1>
<input type="text" id="search">
<div class="table-container" id= "cars_table">
	<%= render 'table' %>
</div>

<br>


</div>
<script type="text/javascript">
  $("#addNewCar").on('mouseover', function(e) {
    $(this).html("Add new a Car").toggleClass('text-success', true)
  }).on('mouseleave', function(e) {
    $(this).html("Cars").toggleClass('text-success', false)
  })

  $("#search").on('input', function(e) {
  	var sJquery = $(this).val(); 
  	var params ={}
  	if (sJquery.lenght > 0) {
  			params ={search: sJquery}
  	}
  	
  	$.ajax({
  		url: "/cars",
  		method: "GET",
  		data: params, 
  		dataType: "SCRIPT",
  		complete: function (xhr,status,obj) {
  		var table= xhr.responseText;
  		$("#cars_table").html(table);
  		}
  	})



 
  })
</script>